@using HadisIelts.Shared.Requests.Admin;
<tr class="table-Default">
    <th>@Row</th>
    <td>@UserRoles.FirstName</td>
    <td>@UserRoles.LastName</td>
    <td>@UserRoles.Email</td>
    <td>
        <div class="container">
            <div class="row">
                @foreach (var role in UserRoles.Roles!)
                {
                    <div class="col">
                        <ChangeRoleButton Email="@UserRoles.Email" Role="@role" />
                    </div>
                }
            </div>
        </div>
    </td>
</tr>
@code {
    [Parameter, EditorRequired]
    public UserRoles UserRoles { get; set; }
    [Parameter,EditorRequired]
    public int Row { get; set; }
    //private void HandleRoleChanged(UserRoles userRoles)
    //{
    //    UserRoles = userRoles;
    //    StateHasChanged();
    //}
}
