@using HadisIelts.Client.Features.Teacher.Models;
@using HadisIelts.Shared.Requests.Teacher;
@using static HadisIelts.Shared.Enums.FileRelatedEnums;
@inject IMediator Mediator;
<div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Row</th>
                    <th>Name</th>
                    <th>Task</th>
                    <th>Word Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @if (WritingCorrectionPrices is not null && WritingCorrectionPrices.Count>0)
                {
                    @foreach (var item in WritingCorrectionPrices)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.WritingType.ToString()</td>
                            <td>@item.WordCount</td>
                            <td>@item.Price</td>
                        </tr>
                    }
                }               
            </tbody>
        </table>
</div>
@code {
    [Parameter,EditorRequired]
    public List<WritingPriceModel> WritingCorrectionPrices { get; set; }
    protected override void OnParametersSet()
    {
        int id = 1;
        WritingCorrectionPrices.ForEach(x => x.ID = id++);
        base.OnParametersSet();
    }

}
